Compte suspendu
Bonjour,
Vous recevez ce mail afin de vous informer que votre compte a été suspendu.
Administrateur.

Gagnant
Vous avez gagné la lotterie, cliquez sur ce lien pour obtenir votre prix : https://scam.com/

Impots
Bonjour,
Vous devez 6000CHF au gouvernement pour les impôts.
Veuillez envoyer cette somme au compte GOV0 0000 0000 0 d'ici au 31 décembre 2022.
Gouvernement.

Compte piraté
Votre compte a été piraté!
Vite, envoyez 50CHF via Twint au 000 000 00 00 pour pouvoir le débloquer!
Dépêchez-vous avant qu'il soit perdu à tout jamais.